.priority-plus-dropdown-customizer {
    .components-modal__header {
        position: sticky;
        background-color: #fff;
        border-bottom: 1px solid rgb(221, 221, 221);
        padding: 24px 32px 18px;
        z-index: 2000;
    }

	// Override default modal content padding
	.components-modal__content {
		padding: 0;
        margin-top: 0;
		display: flex;
		flex-direction: column;
	}

	.dropdown-customizer-layout {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
		padding: 2rem;
		flex: 1;
		overflow: hidden;
	}

	.dropdown-customizer-controls {
        border: 1px solid rgb(221, 221, 221);
	}

	.dropdown-customizer-preview {
		overflow-y: auto;
	}

	.dropdown-customizer-footer {
		padding: 1rem 2rem;
		border-top: 1px solid #ddd;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #f9f9f9;
	}

	@media (max-width: 896px) {
		.dropdown-customizer-layout {
			grid-template-columns: 1fr;
		}
	}
}
